* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  color: #8b0000;
  padding: 10px 5px 5px 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav-paragraph {
  font-family: playfair display;
  font-size: 25px;
  font-weight: 700;
}
.nav-links {
  color: #4b5462;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.nav-links:hover {
  color: #8b0000;
}

.nav-links.active {
  color: #8b0000;
  border-bottom: 2px solid #8b0000;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.nav-ul li {
  padding: 10px;
}

.main {
  text-align: center;
  background-image: url("../assets/images/negley-stockman-Hf9rSoiCKX0-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.main h1 {
  font-size: 50px;
  font-family: playfair display, serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.main p {
  font-size: 20px;
  font-family: Inter, sans-serif;
  margin-bottom: 30px;
}
.main-button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.main-button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.main-shop-button {
  background-color: #8b0000;
  color: white;
  border: none;
}

.main-learn-button {
  background-color: transparent;
  color: black;
  border: none;
  box-shadow: inset 0 0 0 2px white;
  
}

.featured-products {
  background-color: #fff8e1;
  text-align: center;
  padding: 50px 20px;
  font-family: playfair display, serif;
}
.highlight-feature {
  color: #8b0000;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}
.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;;
}
.product-image 
{
  width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}
.product-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  padding: 10px;
  font-family: playfair display, serif;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin: 0 10px 10px 10px;
  font-family: Inter, sans-serif;
  flex-grow: 1;
}
.product-card-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
    align-items: end;
  margin-top: auto;
}
.product-price {
  color: #8b0000;
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px 10px 10px;
  font-family: Inter, sans-serif;
}
.view-details-button {
  background-color: transparent;
  color: #8b0000;
  border: 1px solid #8b0000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.view-details-button:hover {
  background-color: #8b0000;
  color: white;
}

.view-all-products-button {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.our-story {
  background-color: white;
  align-content: left;
  padding: 50px 20px;
}
.our-story h2 {
  font-family: playfair display, serif;
  font-size: 36px;
  font-weight: 700;
}
.our-story-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.our-story-paragraph {
  font-family: Inter, sans-serif;
  font-size: 18px;
  padding: 20px;
  line-height: 1.6;
  color: #374151;
}
.our-story-image {
  width: 50%;
  border-radius: 10px;
}
.highlight-our {
  color: #8b0000;
}

.customer-reviews {
  background-color: #f3f4f6;
  padding: 20px;
}
.customer-reviews h2 {
  font-family: playfair display, serif;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}
.highlight-what-our {
  color: #8b0000;
}

.reviews-container {
  background-color: white;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}
.reviewer-info {
  display: flex;
  align-items: left;
  gap: 10px;
  padding: 20px;
  margin-top: auto;
}
.reviewer-image {
  width: 5%;
  border-radius: 50%;
}

.review {
  color: #555;
}
.reviewer-name {
  font-weight: 600;
  font-size: 16px;
  font-family: Inter, sans-serif;
  padding: 5px;
}
.reviewer-nickname {
  font-size: 14px;
  color: #888;
  font-family: Inter, sans-serif;
  padding: 5px;
}
.footer {
  background-color: #111827;
  padding: 20px;
}
.food-world-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.footer-section h3 {
  color: white;
  font-family: playfair display, serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px;
}
.footer-section p {
  color: #d1d5d5;
  font-family: Inter, sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
}
.footer-links {
  list-style-type: none;
}
.footer-link {
  color: #d1d5d5;
  text-decoration: none;
}
.footer-link:hover {
  color: #ffa500;
}
.footer-links li {
  padding: 5px;
}
.social-media-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.icons {
  width: 20px;
}
.footer-divider {
  border: 0.5px solid #374151;
  margin: 20px 0;
}
.footer-bottom-text {
  color: #9ca3af;
  text-align: center;
  margin-top: 20px;
  font-family: Inter, sans-serif;
}
.products-page-main {
  background-color: #111827;
  text-align: center;
  justify-content: center;
  height: 45vh;
  padding: auto;
}
.products-page-title {
  color: white;
  font-family: playfair display, serif;
  font-size: 40px;
  font-weight: 700;
  padding: 140px 20px 0 20px;
}
.products-page-description {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
.all-products {
  background-color: #f3f4f6;
  text-align: center;
  padding: 50px 20px;
  font-family: playfair display, serif;
}
.highlight-all {
  color: #8b0000;
}

.add-cart-button {
  background-color: #8b0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.about-page-main {
  background-color: #111827;
  text-align: center;
  justify-content: center;
  height: 35vh;
  padding: auto;
}
.about-page-title {
  color: white;
  font-family: playfair display, serif;
  font-size: 40px;
  font-weight: 700;
  padding: 130px 20px 0 20px;
}
.about-page-description {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
.our-mission {
  background-color: #fff8e1;
  text-align: center;
  padding: 20px;
}
.our-mission h2 {
  font-family: playfair display, serif;
  font-size: 30px;
  font-weight: 700;
  padding: 20px;
}
.our-mission-paragraph {
  font-family: Inter, sans-serif;
  font-size: 18px;
  padding: 20px;
  line-height: 1.6;
  color: #374151;
}

.mission-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.mission-card-image 
{
  width: 60px;
}

.mission-card
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.mission-card-title
{
    font-family: playfair display, serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.mission-card-description
{
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 1.6;
    color: #374151;
}

.our-team
{
    background-color: white;
    text-align: center;
    padding: 20px;
}
.our-team h2
{
    font-family: playfair display, serif;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}

.team-member-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.team-member-image
{
    width: 40%;
    border-radius: 50%;
}
.team-member
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
.team-member-name
{
    font-family: playfair display, serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.team-member-role
{
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 5px;
    color: #8b0000;
}
.team-member-bio
{
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 1.6;
    color: #374151;
}

.contact-page-main {
  background-color: #111827;
  text-align: center;
  justify-content: center;
  height: 35vh;
  padding: auto;
}
.contact-page-title {
  color: white;
  font-family: playfair display, serif;
  font-size: 40px;
  font-weight: 700;
  padding: 130px 20px 0 20px;
}
.contact-page-description {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 20px;
  padding: 10px 20px 0 20px;
}
.contact-section-title
{
    font-family: playfair display, serif;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}
.highlight-get
{
    color: #8b0000;
}
.contact-section-paragraph
{
    font-family: Inter, sans-serif;
    font-size: 18px;
    padding: 20px;
    line-height: 1.6;
    color: #374151;
}
.contact-section-card
{
    display: flex;
    align-items: left;
    gap: 20px;
    padding: 20px;
}
.contact-icons
{
    width: 40px;
}
.contact-card-title
{
    font-family: playfair display, serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.contact-card-description
{
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 1.6;
    color: #374151;
}
.business-hours-title
{
    font-family: playfair display, serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
.business-hours-info
{
    font-family: Inter, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 1.6;
    color: #374151;
    display: flex;
    justify-content: space-between;
}
.contact-contanier
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-section-form
{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    height: auto;
}
.contact-form
{
    display: flex;
    flex-direction: column;
}
.form-textarea {
  width: 100%;     
  min-height: 200px;   
  font-size: 16px; 
  padding: 10px;   
  resize: vertical; 
}
.form-submit-button
{
    background-color: #8b0000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    
}
.find-us
{
    background-color: #F3F4F6;
    text-align: center;
    padding: 20px;
}
.find-us-title
{
    font-family: playfair display, serif;
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}
.map
{
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
@media (max-width: 768px) {
  .nav-ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-ul li {
    padding: 10px 0;
  }
}
@media (max-width: 768px) {
  .main h1, .about-page-title, .contact-page-title {
    font-size: 28px;
  }
  .main p, .about-page-description, .contact-page-description {
    font-size: 16px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .product-card, .mission-card, .team-member-card {
    padding: 15px;
  }
}
@media (max-width: 600px) {
  .form-input, .form-textarea {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .food-world-footer {
    text-align: center;
  }
  .social-media-icons {
    justify-content: center;
  }
}
